<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../assets/css/layui.css">
    <link rel="stylesheet" href="../../assets/css/mypublic.css">
    <link rel="stylesheet" href="../../assets/css/view.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/fontlist/iconfont.css">
    <link rel="stylesheet" href="../../assets/css/table.css">
    <link rel="stylesheet" href="../../assets/css/productwl.css">
    <title>公司信息</title>
    <style>
        .typestyle{
        width:554px !important;
        min-height:100px !important;
        background:#f2f2f2;
        border:1px solid #ccc
    }
    .layui-form-lsit label span{
        color:#f00
    }
    .craftwork .layui-form-item .layui-input-block.matertype{
        width:230px;
    }
    </style>
</head>

<body class="layui-view-body produwork craftwork">
    <div class="layui-content">
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-form">
                        <div class="layui-form-lsit btnlist" >
                            <!-- <span class="layui-btn add">新增</span> -->
                            <span class="layui-btn sub">保存</span>
                            <!-- <span class="layui-btn audit">审核</span>
                            <span class="layui-btn changeStatus">变更</span> -->
                        </div>
                        <div class="layui-form layui-form-item " style="padding-top:25px;">

                            <div class="form-box">
                                
                                <div class="clearfix">
                                    <div class="layui-form-lsit ">
                                        <label class="layui-form-label"><span>*</span> 公司名称：</label>
                                        <div class="layui-input-block " >
                                            <input type="text" name="" id=""  autocomplete="off" class="layui-input" placeholder="请输入公司名称">
                                        </div>
                                    </div>
                                    <div class="layui-form-lsit  ">
                                        <label class="layui-form-label">公司地址：</label>
                                        <div class="layui-input-block " >
                                            <input type="text" value="" id="" autocomplete="off" placeholder="请输入公司地址" class="layui-input" >
                                        </div>
                                    </div>
                                    <div class="layui-form-lsit  ">
                                        <label class="layui-form-label"> 公司电话：</label>
                                        <div class="layui-input-block " >
                                            <input type="text" value="" id="" autocomplete="off" placeholder="请输入公司电话" class="layui-input" >
                                        </div>
                                    </div>
                                    <div class="layui-form-lsit ">
                                        <label class="layui-form-label">公司传真：</label>
                                        <div class="layui-input-block " >
                                            <input type="text" value="" id="" autocomplete="off" placeholder="请输入公司传真" class="layui-input" >
                                        </div>
                                    </div>
                                    <div class="layui-form-lsit ">
                                        <label class="layui-form-label">公司邮编：</label>
                                        <div class="layui-input-block " >
                                            <input type="text" value="" id="" autocomplete="off" placeholder="请输入公司邮编" class="layui-input" >
                                        </div>
                                    </div>
                                </div>

                            

                            </div>
                        </div>
                    </form>

                </div>
               

            </div>

        </div>

    </div>

    </div>

    </div>

  

</body>
<script type="text/javascript" src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/layui.all.js"></script>
<script src="../../assets/js/jquery.cookie.js"></script>
<script src="../../main.js"></script>
<script src="../../assets/js/basic/baseSet.js"></script>
<!-- <script src="../assets/js/drop.js"></script> -->

</html>