<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../assets/css/layui.css">
    <link rel="stylesheet" href="../../assets/css/mypublic.css">
    <link rel="stylesheet" href="../../assets/css/view.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/fontlist/iconfont.css">
    <link rel="stylesheet" href="../../assets/css/table.css">
    <link rel="stylesheet" href="../../assets/css/scalestock.css">
    <title>销售出库单</title>
    <style>
        .produwork.craftwork .textarlist {
            margin-bottom: 20px
        }
        #tablelist .layui-table-view .layui-table td[data-field="StockBillEntry_Stock"] .layui-table-cell{
            overflow: hidden;
        }
    </style>
</head>

<body class="layui-view-body produwork craftwork">
    <div class="layui-content">
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-form">
                        <div class=" btnlist">
                            <span class="layui-btn add">新增</span>
                            <span class="layui-btn sub disclick">保存</span>
                            <span class="layui-btn audit ">审核</span>
                            <span class="layui-btn changeStatus ">变更</span>
                        </div>
                        <div class="layui-form layui-form-item " style="padding-top:25px;">
                            <input type="hidden" name="IsEnabled" value="true">
                            <input type="hidden" name="StockBill_Direction" value="-1">
                            <div class="form-box">
                                <div class="clearfix">
                                    <!-- <div class="layui-form-lsit fl">
                                        <label class="layui-form-label">客户订单号：</label>
                                        <div class="layui-input-block checkid disinput" data-type="daten">
                                            <select name="" class="" id="orderid" lay-search=""
                                                lay-filter="changeorder">
                                                <option value="">请选择</option>
                                                <option value="">加载中</option>
                                            </select>
                                        </div>
                                    </div>  -->
                                    <div class="layui-form-lsit fl">
                                        <label class="layui-form-label">单据日期：</label>
                                        <div class="layui-input-block ">
                                            <input type="text" name="StockBill_DateTime" id="StockBill_DateTime" lay-verify="date"
                                                autocomplete="off" class="layui-input" readonly>
                                        </div>
                                    </div>
                                    <div class="layui-form-lsit fl">
                                        <label class="layui-form-label">单据编号：</label>
                                        <div class="layui-input-block ">
                                            <input type="text" name="StockBill_Name" id="StockBill_Name"
                                                autocomplete="off" class="layui-input" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="layui-form-lsit fl">
                                        <label class="layui-form-label">源单类型：</label>
                                        <div class="layui-input-block disinput" data-type="daten">
                                            <input type="text" value="销售领料" readonly>
                                            <!-- <select name="StockBill_Type" class="" id="StockBill_Type" lay-search=""
                                                lay-filter="selecstyle">
                                                <option value="100100">销售领料</option>
                                                <option value="2">外购入库单</option> 
                                            </select> -->
                                        </div>
                                    </div>
                                    <div class="layui-form-lsit fl">
                                        <label class="layui-form-label">领料部门：</label>
                                        <div class="layui-input-block checkdepart disinput" data-type="daten">
                                            <input type="text" id="StockBill_Department" readonly>
                                            <!-- <select name="StockBill_Department" class="" id="department" lay-search=""
                                                lay-filter="selecstyle">
                                                <option value="">请选择</option>
                                                <option value="">加载中</option>
                                            </select> -->
                                        </div>
                                    </div>
                                    <div class="layui-form-lsit fl textarlist">
                                        <label class="layui-form-label">备注：</label>
                                        <div class="layui-input-block " data-type="daten" style="width:430px">
                                            <textarea name="Rmark" id="Rmark" rows='1' readonly></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div id="tablelist" style="clear:left" class="">
                                    <section class="productworktable">
                                        <div class="layui-card">
                                            <!-- <i class="iconfont icon-guanbi iconclose"></i> -->
                                            <div class="layui-card-body layui-text">
                                                <div id="tableRes" class="table-overlay">
                                                    <table id="dataTable" lay-filter="dataTable" class="layui-hide">
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="clearfix formfoot">
                                    <div class="layui-form-lsit fl ">
                                        <label class="layui-form-label">制单人：</label>
                                        <div class="layui-input-block disinput">
                                            <!-- <input type="text" value="" id="StockBill_Billername" readonly> -->
                                            <input type="text" value="" name="StockBill_Biller" id="StockBill_Biller" readonly>
                                        </div>
                                    </div>
                                    <div class="layui-form-lsit fl ">
                                        <label class="layui-form-label">发料人：</label>
                                        <div class="layui-input-block checkper disinput" data-type="daten">
                                            <input type="text" id='StockBill_Sender' readonly>
                                            <!-- <select name="StockBill_Sender" class="" id="StockBill_Sender" lay-search=""
                                                lay-filter="">
                                            </select> -->
                                        </div>
                                    </div>
                                    <div class="layui-form-lsit fl ">
                                        <label class="layui-form-label">审核人：</label>
                                        <div class="layui-input-block disinput">
                                            <input type="text" value="" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- 仓库 -->
    <script type="text/html" id="selectstock">
    <select lay-search id="StockBillEntry_Stock" lay-filter="StockBillEntry_Stock">
        <option value="">请选择或输入</option>
        {{# layui.each(stocklist, function(index, item){ }}
        <option value="{{item.F_Id}}">{{ item.Stock_Nick }}</option>
        {{# }); }}
    </select>
</script>

</body>
<script type="text/javascript" src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/layui.all.js"></script>
<script src="../../assets/js/jquery.cookie.js"></script>
<script src="../../main.js"></script>
<script src="../../assets/js/warehouse/scalestockdetail.js"></script>
<!-- <script src="../assets/js/drop.js"></script> -->

</html>