<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../assets/css/layui.css">
    <link rel="stylesheet" href="../../assets/css/mypublic.css">
    <link rel="stylesheet" href="../../assets/css/view.css" />
    <link rel="stylesheet" href="../../assets/css/table.css">
    <link rel="stylesheet" href="../../assets/css/scalestock.css">
    <link rel="stylesheet" href="../../assets/fontlist/iconfont.css">
    <title>测试</title>
    <style>
        .selectinput {
            display: block;
            width: 180px;
            height: 26px;
            line-height: 26px;
        }

        .craftwork .disinput input {
            width: 100%
        }

        .selectinput .moreBtn {
            position: absolute;
            right: -10px;
            background: #fff;
            height: 22px;
            line-height: 22px;
            top: 2px;
            font-size: 16px;
            width: 20px;
            cursor: pointer;
        }

        .changeinputlist {
            position: absolute;
            top: 3-px;
            top: 30px;
            border: 1px solid #e6e6e6;
            width: 180px;
            z-index: 999;

            max-height: 175px;
            overflow-y: auto;
        }

        .changeinputlist li {
            padding: 5px;
            background: #fff;
        }

        .changeinputlist li.active:hover,
        .changeinputlist li.active {
            background: #f2f2f2
        }

        .chooseterm .table-overlay .layui-table-cell {
            overflow: hidden;
        }

        .noData {
            padding: 10px;
            text-align: center;
            display: block;
            background: #fff;
        }
    </style>
</head>

<body class="layui-view-body produwork craftwork">
    <div class="layui-content">
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-form">
                        <div class="btnlist">
                            <!-- <span class="layui-btn add">新增</span> -->
                            <span class="layui-btn sub">保存</span>
                            <span class="layui-btn audit disclick">审核</span>
                            <span class="layui-btn changeStatus disclick">变更</span>
                            <button type="button" class="layui-btn layui-btn-normal" id="testList">上传附件</button>
                        </div>
                        <div class="layui-form layui-form-item " style="padding-top:25px;">
                            <div class="form-box clearfix">
                                <div class="clearfix">
                                    <div class="layui-upload">
                                        <div>
                                            <table class="layui-table imgtable">
                                                <thead id="tablehead">
                                                </thead>
                                                <tbody id="tablebody"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="layui-form-lsit fl layui-inline">
                                        <label class="layui-form-label"><span>*</span>客户名称：</label>
                                        <div class="layui-input-inline disinput checkcus position-re" data-type="daten">
                                            <span class="selectinput clearfix">
                                                <i class="iconfont icon-gengduo moreBtn"
                                                    onclick="getablelist(ajaxCus,'custom','客户','SalesOrder_Customer')"></i>
                                                <input type="text" name="SalesOrder_Customer" class="fl changeinput"
                                                    id="SalesOrder_Customer" autocomplete="off">
                                                <div class="changeinputlist position-ab">
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="layui-form-lsit fl">
                                        <label class="layui-form-label">单据类型：</label>
                                        <div class="layui-input-block orderlist" data-type="daten">
                                            <select class="" id="PurchaseOrder_Type" lay-search=""
                                                name="PurchaseOrder_Type" lay-filter="">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tablelist">
                                <section class="productworktable" data-type="daten">
                                    <div class="layui-card">
                                        <div class="layui-card-body layui-text">
                                            <div id="tableRes" class="table-overlay">
                                                <table id="dataTable" lay-filter="dataTable" class="layui-hide">
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="termask hidden">
        <div class="layui-content ">
            <div class="layui-row chooseterm">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <form class="layui-form terform">
                            <section class="">
                                <div class="layui-card">
                                    <div class="masktitle"></div>
                                    <div class="layui-card-body layui-text">
                                        <div class="mackbody ">
                                            <div class="clearfix">
                                                <div class="layui-form-lsit fl">
                                                    <div class="layui-input-block disinput fl" data-type="daten"
                                                        style="margin-left:0">
                                                        <input type="text" value="" id="param" placeholder="" >
                                                    </div>
                                                </div>
                                                <button type="button" class="layui-btn layui-btn-normal searchupdata"
                                                    style="margin-left:10px">查询</button>
                                            </div>
                                            <div id="tableRes1" class="table-overlay">
                                                <table id="dataTable1" lay-filter="dataTable1" class="layui-hide">
                                                </table>
                                            </div>
                                        </div>
                                        <div id="action" class="">
                                            <span class="layui-btn getcheck" data-type="getCheckData">确定</span>
                                            <span class="layui-btn cancel">取消</button>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/html" id="selectcrp">
        <select id="Currency_Nick" lay-filter="Currency_Nick" lay-search id="checkmater">
            <option value="">请选择或输入</option>
            {{# layui.each(dateslit, function(index, item){ }}
            <option value="{{item.F_Id}}" >{{ item.Currency_Nick}}</option>
            {{# }); }}
        </select>
    </script>

</body>
<script type="text/javascript" src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/layui.all.js"></script>
<script src="../../assets/js/jquery.cookie.js"></script>
<script src="../../main.js"></script>
<script src="../../assets/js/receanpay/test.js"></script>


</html>