<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../assets/css/layui.css">
    <link rel="stylesheet" href="../../assets/css/mypublic.css">
    <link rel="stylesheet" href="../../assets/css/view.css" />
    <link rel="stylesheet" href="../../assets/css/table.css">
    <link rel="stylesheet" href="../../assets/css/searchlist.css">
    <title>销售发票列表</title>
</head>

<body class="layui-view-body produwork craftwork">
    <div class="layui-content">
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-form">
                        <div class="btnlist">
                            <span class="layui-btn add">新增</span>
                            <span class="layui-btn checklist">查询</span>
                            <!-- <span class="layui-btn audit">重置</span> -->
                        </div>
                        <div class="layui-form layui-form-item " style="padding-top:25px;">
                            <div class="form-box">
                                <!-- <div class="clearfix">
                                    <div class="layui-form-lsit fl ">
                                        <label class="layui-form-label">订单号：</label>
                                        <div class="layui-input-block disinput">
                                            <input type="text" value="" id="" name="SalesOrder_Name" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="layui-form-lsit fl ">
                                        <label class="layui-form-label">客户名称：</label>
                                        <div class="layui-input-block checkcus" data-type="daten">
                                            <select name="Customer_Nick" class="" id="Customer_Nick" lay-search="" lay-filter="customer">
                                                <option value="">请选择</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-form-lsit fl">
                                        <label class="layui-form-label">单据日期：</label>
                                        <div class="layui-input-block ">
                                            <input type="text" name="SalesOrder_DateTime" id="date" lay-verify="date"
                                                autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-lsit fl">
                                        <label class="layui-form-label">交货日期：</label>
                                        <div class="layui-input-block ">
                                            <input type="text" name="SalesOrder_Deadline" id="recdate" autocomplete="off"
                                                class="layui-input">
                                        </div>
                                    </div>



                                </div>
                                <div class="clearfix">
                                    <div class="layui-form-lsit fl">
                                        <label class="layui-form-label">单据状态：</label>
                                        <div class="layui-input-block orderstau" data-type="daten">
                                            <select name="SalesOrder_Status" class="" id="SalesOrder_Status" lay-search="" lay-filter="">
                                                <option value="">请选择</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-form-lsit fl">
                                        <label class="layui-form-label">币别：</label>
                                        <div class="layui-input-block currency">
                                            <select name="SalesOrder_Currency" class="" id="currency" lay-search=""
                                                lay-filter="currlist">
                                                <option value="">请选择</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-form-lsit fl ">
                                        <label class="layui-form-label">汇率：</label>
                                        <div class="layui-input-block disinput">
                                            <input type="text" value="" id="SalesOrder_ExRate" name="SalesOrder_ExRate" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="layui-form-lsit fl">
                                        <label class="layui-form-label">税率%：</label>
                                        <div class="layui-input-block disinput" >
                                            <input type="text" value="" id="SalesOrder_TaxRate" name="SalesOrder_TaxRate" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="layui-form-lsit fl ">
                                        <label class="layui-form-label">制单人：</label>
                                        <div class="layui-input-block checkbiller" data-type="daten">
                                            <select name="SalesOrder_Biller" class="" id="SalesOrder_Biller"
                                                lay-search="" lay-filter="">
                                                <option value="">请选择</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-form-lsit fl">
                                        <label class="layui-form-label">订单类型：</label>
                                        <div class="layui-input-block ordertype" data-type="daten">
                                            <select name="SalesOrder_Type" class="SalesOrder_Type" id="SalesOrder_Type" lay-search="" lay-filter="">
                                                <option value="">请选择</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-form-lsit fl ">
                                        <label class="layui-form-label">备注：</label>
                                        <div class="layui-input-block disinput">
                                            <textarea name="Remark" id="" rows="1"></textarea>
                                        </div>
                                    </div>
                                </div> -->

                            </div>
                        </div>
                        <div id="tablelist">
                            <section class="productworktable">
                                <div class="layui-card">
                                    <!-- <i class="iconfont icon-guanbi iconclose"></i> -->
                                    <div class="layui-card-body layui-text">
                                        <div id="tableRes" class="table-overlay">
                                            <table id="dataTable" lay-filter="dataTable" class="layui-hide"></table>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
   
    <div class="printbody"></div>

</body>
<script type="text/javascript" src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/layui.all.js"></script>
<script src="../../assets/js/jquery.cookie.js"></script>
<script src="../../assets/js/jquery.base64.js"></script>
<script src="../../assets/js/basic/print/jQuery.print.js"></script>
<script src="../../main.js"></script>
<script src="../../assets/js/scale/scaleinvolist.js"></script>
<!-- <script src="../assets/js/drop.js"></script> -->

</html>