<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../assets/css/layui.css">
    <link rel="stylesheet" href="../../assets/css/mypublic.css">
    <link rel="stylesheet" href="../../assets/css/view.css" />
    <link rel="stylesheet" href="../../assets/css/table.css">
    <link rel="stylesheet" href="../../assets/css/searchlist.css">
    <title>工序汇报列表</title>
    <style>
        .termask .chooseterm{
        padding:10px
    }
    .mackbody{
        width: 300px;
        margin: 0 auto;
    }
    #action{
        text-align: center;
        padding-bottom:20px
    }
    .mackbody  .layui-form-label {
        width: 50px !important;
        margin-right: 10px;
    }
    .mackbody .layui-input-block {
        width: 150px !important;
    }
    .mackbody .form-box{
        padding-top:20px
    }
    .chooseterm .layui-form-selected .layui-anim-upbit{
        animation-name:unset;
        -webkit-animation-name: unset;
    }
    .assigndata .layui-form-label{
        padding:0;
        width:auto !important
    }
    .craftwork .assigndata .layui-input-block{
        min-height: 20px;
        line-height:20px;
        margin-left:0 !important
    }
    .assigndata .layui-form-lsit{
        margin-bottom:0
    }
    .craftwork .assigndata .layui-input-block input{
        background: inherit;
        border: none;
        height:20px;
        line-height: 20px;
        text-indent: 0
    }
    .assigndata{
        margin-bottom:5px;
        padding-left:10px
    }
    .assignDetail span{
        max-width: 20%;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        float:left;
        margin-right:2px;
    }
    .assignDetail i{
        margin-right:2px;
        display: block;
        float: left;
    }
    .chooseterm{
        min-width: 540px
    }
    .assigndata>div{
        width:50%
    }
    
    </style>
</head>

<body class="layui-view-body produwork craftwork">
    <div class="layui-content">
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-form">
                        <div class="btnlist">
                            <span class="layui-btn add">新增</span>
                            <span class="layui-btn checklist">查询</span>
                            <!-- <span class="layui-btn audit">重置</span> -->
                        </div>
                        <div class="layui-form layui-form-item " style="padding-top:25px;">
                            <div class="form-box">
                                <div class="clearfix">
                                    <!-- <div class="layui-form-lsit fl ">
                                        <label class="layui-form-label">订单号：</label>
                                        <div class="layui-input-block disinput">
                                            <input type="text" value="" id="" name="SalesOrder_Name" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="layui-form-lsit fl ">
                                        <label class="layui-form-label">客户名称：</label>
                                        <div class="layui-input-block checkcus" data-type="daten">
                                            <select name="Customer_Nick" class="" id="Customer_Nick" lay-search="" lay-filter="customer">
                                                <option value="">请选择</option>
                                            </select>
                                        </div>

                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>
                        <div id="tablelist">
                            <section class="productworktable">
                                <div class="layui-card">
                                    <!-- <i class="iconfont icon-guanbi iconclose"></i> -->
                                    <div class="layui-card-body layui-text">
                                        <div id="tableRes" class="table-overlay">
                                            <table id="dataTable" lay-filter="dataTable" class="layui-hide"></table>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="printbody"></div>
    <div class="termask hidden">
        <section class="chooseterm">
            <div class="assigndata clearfix">
                <div class="fl">
                    <div class="layui-form-lsit  clearfix">
                        <label class="layui-form-label fl">单号：</label>
                        <div class="layui-input-block assigNum fl"></div>
                    </div>
                    <div class="layui-form-lsit">
                        <div class="layui-input-block assignDetail">
                            
                        </div>
                    </div>
                </div>
                <div class="fr">
                    <div class="layui-form-lsit  clearfix">
                        <label class="layui-form-label fl">开工日期：</label>
                        <div class="layui-input-block startTime disinput fl">
                            <input type="text" id="Assign_StartTime" lay-verify="date"  autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-lsit  clearfix">
                        <label class="layui-form-label fl">完工日期：</label>
                        <div class="layui-input-block endTime disinput fl">
                            <input type="text"  id="Assign_Deadline" lay-verify="date" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
            <form class="terform">
                <div class="layui-card">
                    <div class="layui-card-body layui-text">
                        <div class="mackbody layui-form layui-form-item">
                            <div class="form-box">
                                <div class="layui-form-lsit  clearfix">
                                    <label class="layui-form-label fl">类型</label>
                                    <div class="layui-input-block fl craftype">
                                        <select name="ReportEntry_Type" class="" id="ReportEntry_Type" lay-filter="">
                                            <option value="">请选择</option>
                                            <option value="">正在加载...</option>
                                            <!-- <option value="0">正常</option>
                                                <option value="1">返工</option> -->
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-form-lsit">
                                    <label class="layui-form-label">实做数量</label>
                                    <div class="layui-input-block disinput">
                                        <input type="text" value="" id="ReportEntry_Quantity" autocomplete="off" name="ReportEntry_Quantity">
                                    </div>
                                </div>
                                <div class="layui-form-lsit">
                                    <label class="layui-form-label">合格数量</label>
                                    <div class="layui-input-block disinput">
                                        <input type="text" value="" id="ReportEntry_Qualified" autocomplete="off" name="ReportEntry_Qualified">
                                    </div>
                                </div>
                                <div class="layui-form-lsit">
                                    <label class="layui-form-label">作废数量</label>
                                    <div class="layui-input-block disinput">
                                        <input type="text" value="" id="ReportEntry_Scrap" autocomplete="off" name="ReportEntry_Scrap">
                                    </div>
                                </div>
                                <div class="layui-form-lsit clearfix">
                                    <label class="layui-form-label fl">备注</label>
                                    <div class="layui-input-block disinput fl">
                                        <input type="text" value="" id="Rmark" name="Rmark" autocomplete="off">
                                    </div>
                                </div>
                                <div class="layui-form-lsit  clearfix">
                                    <label class="layui-form-label fl">操作员</label>
                                    <div class="layui-input-block  fl checkuser">
                                        <select class="" id="ReportEntry_Biller" name="ReportEntry_Biller" lay-filter="">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="action" class="">
                            <span class="layui-btn editsave">汇报</span>
                            <span class="layui-btn cancel" data-type="cancel">取消</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</body>
<script type="text/javascript" src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/layui.all.js"></script>
<script src="../../assets/js/jquery.cookie.js"></script>
<script src="../../assets/js/jquery.base64.js"></script>
<script src="../../assets/js/basic/print/jQuery.print.js"></script>
<script src="../../main.js"></script>
<script src="../../assets/js/product/producthblist.js"></script>
<!-- <script src="../assets/js/drop.js"></script> -->

</html>