/* .craftwork  form .layui-input-block{
    margin-left:100px;
} */
.craftwork form .layui-form-label{
    width:auto;
    padding:3px 0;
}
.craftwork .disinput input{
    width: 100%;
    line-height: 24px;
    height:24px;
    padding-left:0;
    text-indent:4px
}
.craftwork .labelinput{
    width: 100%;
height: 36px;
line-height: 36px;
border: 1px solid #e6e6e6;
}
.craftwork .layui-form-mid{
    padding: 3px 0 !important;
    margin-right: 0;
}
.craftwork   .layui-form-lsit textarea{
    width:93%;
    padding:5px;
    resize:none ;
    border: 1px solid #e6e6e6;
}
.craftwork  .layui-form-lsit.textarlist{
    margin-bottom:50px
}

.craftwork   .labelinput
{
    width: 80%;
    line-height: 26px;
    height: 26px;
}
.craftwork .layui-form-select .layui-input{
    line-height: 26px;
    height: 26px;
}
.craftwork  .layui-input{
    height: 26px;
}
/* .craftwork table .layui-form-select .layui-input{
    line-height: 34px;
    height: 34px;
}
.craftwork table  .layui-input{
    height: 34px;
} */
.craftwork .layui-form-item .layui-input-block{
    width:120px;
    float:left;
    margin-left:0;
    margin-right:10px;
}
.craftwork .layui-form-checkbox i{
    border-left:1px solid #d2d2d2;
}
.craftwork  .layui-form-checkbox i{
    width: 16px;
height: 18px;
font-size: 15px;
line-height: 20px;
height: 18px;
}
.craftwork .layui-form-checkbox{
    margin-right: 0
}
.layui-form-lsit{
    height:20px;
}
.craftwork .produwork .layui-form-lsit{
    margin-bottom:15px;
}
.craftwork .layui-input-block{
    min-height: 26px;
}
.craftwork .layui-content{
    padding:8px;
}
.craftwork .layui-btn{
    height: 25px;
line-height: 25px;
padding: 0 10px;
cursor: pointer;
}
.craftwork.disinput input{
    width:92.4%;
    line-height: 24px;
    height: 24px;
}
/* .craftwork table .layui-form-select .layui-input, */
.craftwork table .layui-table-edit{
    height: 34px;
    line-height: 34px;
}
.craftwork .layui-table-view .layui-table th{
    text-align: center
}

.craftwork #toolbar{
  margin-left:15px;
  margin-bottom:-15px;
}
.craftwork .choosecraft .layui-border-box{
  max-height:350px;
  overflow-y: auto;
  overflow-x: hidden;
}

.cpmtable .layui-table-body{
    /* height: 350px;
    overflow: auto */
}
.craftwork  .layui-table-view .layui-table td{
    padding:0;
}
/* .craftwork   .layui-form-select dl{
    top:20px;
} */
.craftwork  .layui-form-select dl dd{
    line-height: 30px;
    height: 30px;
}
.craftwork #tablelist .layui-table-body{
    height: auto;
    /* overflow: auto */
 } 
.craftwork  #tablelist .layui-form-select dl{
    max-height: 160px;
}
.craftwork  #tablelist1 .layui-form-select dl{
    max-height: 160px;
}
/* .layui-table-body,
.layui-table-box,
.layui-table-view
{
    overflow:visible !important;
} */

.overvis{
    overflow:visible !important;
}

.layui-table-hover{
    background-color:#d7e9f8 !important
}
.form-box{
    max-width:1030px;
    margin-left: 15px;
}
.taplist{
    margin-left:15px;
    margin-top:10px;
}
.taplist span{
    display: block;
    width: 90px;
    height: 30px;
    color:#000;
    border:1px solid #ccc;
    float:left;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
.taplist span.checkgy{
    border-left:0;
}
.taplist span.active,
.nextbill
{
    background-color: #177ce3;
    background-repeat: repeat-y;
    background-image: -moz-linear-gradient(left,#29adeb,#177ce3);
    background-image: -webkit-linear-gradient(left,#29adeb,#177ce3);
    background-image: -o-linear-gradient(left,#29adeb,#177ce3);
    background-image: linear-gradient(left,#29adeb,#177ce3);
    color:#fff;

}
.taplist span.nextbill{
    width:auto;
    height:30px;
    line-height: 30px;
}

 #tablelist1 .layui-table-view .layui-table td[data-field="FName"] .layui-table-cell
 {
width: 100%;
} 
form .layui-form-select dl{
    top:30px;
}
form .layui-form-selectup dl{
    bottom:30px;
    top:auto;
}
.form-box
,#tablelist1 .layui-table td,
#tablelist .layui-table td,
#tablelist1  .layui-table th,
#tablelist .layui-table th,
.formfoot{
    font-size:12px !important;
}

#tablelist1 {
    table-layout:fixed
}
.taplist span.nextbill{
    float:right;
    margin-right: 15px;
    color:#fff
}
.isAttribute{
    background:#f2f2f2;
    /* padding:15px 0;
    min-height: 100px; */
}
.selectlist,.selectlist1{
    position: absolute;
left: 0;
top: 35px;
/* padding: 5px 0; */
z-index: 899;
min-width: 100%;
border: 1px solid #d2d2d2;
max-height: 300px;
overflow-y: auto;
background-color: #fff;
border-radius: 2px;
box-shadow: 0 2px 4px rgba(0,0,0,.12);
box-sizing: border-box;
z-index:900
}
.selectlist .datelist p,
.selectlist1 .datelist p{
    display: inline-block;
    max-width: 90px;
table-layout: fixed;
box-sizing: border-box;
padding: 0 12px;
text-align: left;
border: none;
border-right: 1px solid #e8ecf0;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
height: 30px;
line-height: 30px;
text-align: center;
min-width:90px;

}
.selectlist .datelist  ul li,
.selectlist1 .datelist  ul li{
    /* padding: 0 10px; */
line-height: 36px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
cursor: pointer;
line-height: 30px;
height: 30px;
}
.selectlist .datelist ul li.active,
.selectlist1 .datelist ul li.active{
    background-color: #177ce3;
    color:#fff;
}
.selectlist  .dateload,
.selectlist1  .dateload{
    text-align: center;
padding: 20px 0px;
}
.craftwork table .layui-input-block{
    margin-left:0
}
.layui-form{
    position: relative;
}
.btnlist{
    position: absolute;
    right:15px;
    top:8px;
    z-index:99999
}

.produwork {
    min-width: 1000px;
    overflow: auto;
}

.selectlist,.selectlist1{
    position: absolute;
left: 0;
top: 35px;
/* padding: 5px 0; */
z-index: 899;
min-width: 100%;
border: 1px solid #d2d2d2;
max-height: 300px;
overflow-y: auto;
background-color: #fff;
border-radius: 2px;
box-shadow: 0 2px 4px rgba(0,0,0,.12);
box-sizing: border-box;
z-index:900
}
.selectlist .datelist p,
.selectlist1 .datelist p{
    display: inline-block;
    max-width: 90px;
table-layout: fixed;
box-sizing: border-box;
padding: 0 12px;
text-align: left;
border: none;
border-right: 1px solid #e8ecf0;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
height: 30px;
line-height: 30px;
text-align: center;
min-width:90px;

}
.selectlist .datelist  ul li,
.selectlist1 .datelist  ul li{
    /* padding: 0 10px; */
line-height: 36px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
cursor: pointer;
line-height: 30px;
height: 30px;
}
.selectlist .datelist ul li.active,
.selectlist1 .datelist ul li.active{
    background-color: #177ce3;
    color:#fff;
}
.selectlist  .dateload,
.selectlist1  .dateload{
    text-align: center;
padding: 20px 0px;
}
.craftwork table .layui-input-block{
    margin-left:0
}
.layui-form{
    position: relative;
}
.btnlist{
    position: absolute;
    right:15px;
    top:8px;
}