<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../../assets/css/layui.css">
    <link rel="stylesheet" href="../../../assets/css/mypublic.css">
    <link rel="stylesheet" href="../../../assets/css/view.css" />
    <link rel="stylesheet" type="text/css" href="../../../assets/fontlist/iconfont.css">
    <link rel="stylesheet" href="../../../assets/css/table.css">
    <link rel="stylesheet" href="../../../assets/css/scalework1.css">
    <link rel="stylesheet" href="../../../assets/css/productkh.css">
    <title>客户</title>

</head>

<body class="layui-view-body produwork craftwork">
    <div class="layui-content">
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="btnlist">
                        <span class="layui-btn add ">新增</span>
                        <span class="layui-btn sub disclick">保存</span>
                        <span class="layui-btn checkstatus">变更</span>
                    </div>
                    <div class="layui-form layui-form-item " style="padding-top:25px">
                        <div class="form-box">
                            <div class="customMsg">
                                <form id="customMsg">
                                    <span class="classifyTitle">客户信息</span>
                                    <div class="clearfix classifytab">
                                        <div class="layui-form-lsit fl">
                                            <label class="layui-form-label"><span>*</span> 名称：</label>
                                            <div class="layui-input-block " style="width:295px">
                                                <input type="text" name="Customer_Nick" id="Customer_Nick" lay-verify=""
                                                    autocomplete="off" class="layui-input" readonly>
                                            </div>
                                        </div>
                                        <div class="layui-form-lsit fl">
                                            <label class="layui-form-label"><span>*</span> 代码：</label>
                                            <div class="layui-input-block " style="width:295px">
                                                <input type="text" name="Customer_Name" id="Customer_Name" lay-verify=""
                                                    autocomplete="off" class="layui-input" readonly>
                                            </div>
                                        </div>
                                        <div class="layui-form-lsit fl">
                                            <label class="layui-form-label">地区：</label>
                                            <div class="layui-input-block " style="width:295px">
                                                <input type="text" name="Customer_Area" id="Customer_Area" lay-verify=""
                                                    autocomplete="off" class="layui-input" readonly>
                                            </div>
                                        </div>
                                        <div class="layui-form-lsit fl">
                                            <label class="layui-form-label">类型：</label>
                                            <div class="layui-input-block " style="width:295px">
                                                <input type="text" name="Customer_Type" id="Customer_Type" lay-verify=""
                                                    autocomplete="off" class="layui-input" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix classifytab">
                                        <div class="layui-form-lsit fl">
                                            <label class="layui-form-label">币别 ：</label>
                                            <div class="layui-input-block " style="width:295px">
                                                <input type="text" name="Customer_Currency" id="Customer_Currency"
                                                    lay-verify="" autocomplete="off" class="layui-input" readonly>
                                            </div>
                                        </div>
                                        <div class="layui-form-lsit fl">
                                            <label class="layui-form-label">税务登记号：</label>
                                            <div class="layui-input-block " style="width:295px">
                                                <input type="text" name="Customer_TaxNo" id="Customer_TaxNo"
                                                    lay-verify="" autocomplete="off" class="layui-input" readonly>
                                            </div>
                                        </div>
                                        <div class="layui-form-lsit fl">
                                            <label class="layui-form-label">增值税率(%)：</label>
                                            <div class="layui-input-block " style="width:295px">
                                                <input type="text" name="Customer_TaxRate" id="Customer_TaxRate"
                                                    lay-verify="" autocomplete="off" class="layui-input" readonly>
                                            </div>
                                        </div>
                                        <div class="layui-form-lsit fl">
                                            <label class="layui-form-label">行业：</label>
                                            <div class="layui-input-block " style="width:295px">
                                                <input type="text" name="Customer_Industry" id="Customer_Industry"
                                                    lay-verify="" autocomplete="off" class="layui-input" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix classifytab">
                                        <div class="layui-form-lsit fl">
                                            <label class="layui-form-label">规模 ：</label>
                                            <div class="layui-input-block " style="width:295px">
                                                <input type="text" name="Customer_Scale" id="Customer_Scale"
                                                    lay-verify="" autocomplete="off" class="layui-input" readonly>
                                            </div>
                                        </div>
                                        <div class="layui-form-lsit fl">
                                            <label class="layui-form-label">注册号：</label>
                                            <div class="layui-input-block " style="width:295px">
                                                <input type="text" name="Customer_Registration"
                                                    id="Customer_Registration" lay-verify="" autocomplete="off"
                                                    class="layui-input" readonly>
                                            </div>
                                        </div>
                                        <div class="layui-form-lsit fl">
                                            <label class="layui-form-label">法人：</label>
                                            <div class="layui-input-block " style="width:295px">
                                                <input type="text" name="Customer_Corporation" id="Customer_Corporation"
                                                    lay-verify="" autocomplete="off" class="layui-input" readonly>
                                            </div>
                                        </div>
                                        <div class="layui-form-lsit fl">
                                            <label class="layui-form-label">关系态度：</label>
                                            <div class="layui-input-block " style="width:295px">
                                                <input type="text" name="Customer_Amity" id="Customer_Amity"
                                                    lay-verify="" autocomplete="off" class="layui-input" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix classifytab">
                                        <div class="layui-form-lsit fl">
                                            <label class="layui-form-label">付款周期 ：</label>
                                            <div class="layui-input-block " style="width:295px">
                                                <input type="text" name="Customer_Cycle" id="Customer_Cycle"
                                                    lay-verify="" autocomplete="off" class="layui-input" readonly>
                                            </div>
                                        </div>
                                        <div class="layui-form-lsit fl">
                                            <label class="layui-form-label">对账日期：</label>
                                            <div class="layui-input-block " style="width:295px">
                                                <input type="text" name="Customer_Verify" id="Customer_Verify"
                                                    lay-verify="" autocomplete="off" class="layui-input" readonly>
                                            </div>
                                        </div>
                                        <div class="layui-form-lsit fl">
                                            <label class="layui-form-label">付款日期：</label>
                                            <div class="layui-input-block " style="width:295px">
                                                <input type="text" name="Customer_PayOff" id="Customer_PayOff"
                                                    lay-verify="" autocomplete="off" class="layui-input" readonly>
                                            </div>
                                        </div>
                                        <div class="layui-form-lsit fl">
                                            <label class="layui-form-label">业务员：</label>
                                            <div class="layui-input-block " style="width:295px">
                                                <input type="text" name="" id="" lay-verify="" autocomplete="off"
                                                    class="layui-input" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix classifytab">
                                        <div class="layui-form-lsit fl">
                                            <label class="layui-form-label"> 网址：</label>
                                            <div class="layui-input-block " style="width:295px">
                                                <input type="text" name="" id="" lay-verify="" autocomplete="off"
                                                    class="layui-input" readonly>
                                            </div>
                                        </div>
                                        <div class="layui-form-lsit fl">
                                            <label class="layui-form-label">地址：</label>
                                            <div class="layui-input-block " style="width:295px">
                                                <input type="text" name="Customer_Area" id="Customer_Area" lay-verify=""
                                                    autocomplete="off" class="layui-input" readonly>
                                            </div>
                                        </div>
                                        <div class="layui-form-lsit fl">
                                            <label class="layui-form-label"> 备注：</label>
                                            <div class="layui-input-block " style="width:295px">
                                                <textarea name="Rmark" id="Rmark" rows='2' readonly></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="addressMsg">
                                <form id="addressMsg">
                                    <span class="classifyTitle">地址信息</span>
                                    <div class="clearfix classifytab">
                                        <div class="layui-form-lsit fl">
                                            <label class="layui-form-label"> 区域：</label>
                                            <div class="layui-input-block " style="width:295px">
                                                <input type="text" name="Address_Area" id="Address_Area" lay-verify=""
                                                    autocomplete="off" class="layui-input" readonly>
                                            </div>
                                        </div>
                                        <div class="layui-form-lsit fl">
                                            <label class="layui-form-label"> 联系人：</label>
                                            <div class="layui-input-block " style="width:295px">
                                                <input type="text" name="Address_Contact" id="Address_Contact"
                                                    lay-verify="" autocomplete="off" class="layui-input" readonly>
                                            </div>
                                        </div>
                                        <div class="layui-form-lsit fl">
                                            <label class="layui-form-label"> 电话：</label>
                                            <div class="layui-input-block " style="width:295px">
                                                <input type="text" name="Address_Mobile" id="Address_Mobile"
                                                    lay-verify="" autocomplete="off" class="layui-input" readonly>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="clearfix classifytab">
                                        <div class="layui-form-lsit fl">
                                            <label class="layui-form-label"> 备注：</label>
                                            <div class="layui-input-block " style="width:295px">
                                                <textarea name="Rmark" id="Rmark" rows='2' readonly></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="financeMsg">
                                <form id="financeMsg">
                                    <span class="classifyTitle">财务信息</span>
                                    <div class="clearfix classifytab">
                                        <div class="layui-form-lsit fl">
                                            <label class="layui-form-label"> 开户银行：</label>
                                            <div class="layui-input-block " style="width:295px">
                                                <input type="text" name="Finance_Bank" id="Finance_Bank" lay-verify=""
                                                    autocomplete="off" class="layui-input" readonly>
                                            </div>
                                        </div>
                                        <div class="layui-form-lsit fl">
                                            <label class="layui-form-label"> 银行账号：</label>
                                            <div class="layui-input-block " style="width:295px">
                                                <input type="text" name="Finance_Account" id="Finance_Account"
                                                    lay-verify="" autocomplete="off" class="layui-input" readonly>
                                            </div>
                                        </div>
                                        <div class="layui-form-lsit fl">
                                            <label class="layui-form-label"> 户主：</label>
                                            <div class="layui-input-block " style="width:295px">
                                                <input type="text" name="Finance_Owner" id="Finance_Owner" lay-verify=""
                                                    autocomplete="off" class="layui-input" readonly>
                                            </div>
                                        </div>

                                        <div class="layui-form-lsit fl">
                                            <label class="layui-form-label"> 付款方式：</label>
                                            <div class="layui-input-block " style="width:295px">
                                                <input type="text" name="" id="" lay-verify="" autocomplete="off"
                                                    class="layui-input" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix classifytab">
                                        <div class="layui-form-lsit fl">
                                            <label class="layui-form-label"> 备注：</label>
                                            <div class="layui-input-block " style="width:295px">
                                                <textarea name="Rmark" id="Rmark" rows='2' readonly></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
               
                <div class="layui-tab" lay-filter="filter">
                    <ul class="layui-tab-title">
                        <li class="layui-this">联系人</li>
                        <li>客户物料</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">
                            <div id="tablelist" style="clear:left;" class="">
                                <section class="productworktable" data-type="daten">
                                    <div class="layui-card">
                                        <div class="layui-card-body layui-text">
                                            <div id="tableRes" class="table-overlay" style="padding:0;margin-top:25px;">
                                                <table id="dataTable" lay-filter="dataTable" class="layui-hide"></table>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="layui-tab-item">
                            <div id="tablelist1" style="clear:left" class="">
                                <section class="cpmtable" data-type="daten">
                                    <div class="layui-card">
                                        <div class="layui-card-body layui-text">
                                            <div id="tablecpm" class="table-overlay" style="width:530px;padding:0">
                                                <table id="dataTable1" lay-filter="dataTable1" class="layui-hide">
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
<script type="text/javascript" src="../../../assets/js/jquery.min.js"></script>
<script src="../../../assets/layui.all.js"></script>
<script src="../../../main.js"></script>
<script src="../../../assets/js/basic/cusasup/customdetail.js"></script>
<!-- <script src="../assets/js/drop.js"></script> -->

</html>